build
.DS_Store
*.o
*.ob
*.tmproj
*.mode1*
*.build
*~.nib
resources/readme.html
*_apikeys.h
._build
._*
tours.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
tours.xcodeproj/project.xcworkspace/xcuserdata/eq2-mac.xcuserdatad/UserInterfaceState.xcuserstate
Sam*
